<%= turbo_frame_tag "resultat" do %>
  <div class="d-flex align-items-baseline">
    <%= link_to "Result",calculate_service_path(@service),class:"btn btn-success me-3"  %>
    <div class="result-calcul ms-2"> <%=@resultat  %> </div>
  </div>
<% end %>