              <%= turbo_frame_tag "service_#{service.id}_tax#{tax.id}" do %>
                <% if tax.services.include?(service) %>
                <div class ="d-flex justify-content-center">
                  <span class="d-flex  align-items-center"><%= (service.calculate * tax.percentage * 0.01).round(2) %></span>
                  <span class="text-warning "><%= button_to "ð˜…" , service_unlink_tax_path(service, tax), method: :post , class: "btn btn-sm"%></span>
                </div>
                <% else %>
                  <%= button_to "ï¹¢" , service_link_tax_path(service, tax), method: :post , class: "btn btn-light rounded-circle m-auto"%>
                <% end %>
              <% end %>