// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0d2850;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #00050e;
$light-gray: #F4F4F4;
$lightblue: #397cd9;
