   

      <div class="d-flex flex-column ">
        <%= turbo_frame_tag "po_invoices_list" do %>
          <% if invoices != []   %>
              <% invoices.each do |invoice| %>
                <%= render 'po_invoice', invoice: invoice %>       
              <% end %>
          <% else %>
            <div class= " h6 text-center text-secondary  ">NO INVOICES </div>
          <% end %>
        <% end %>
      </div>

   