<%= turbo_frame_tag "budget_#{purchase_order.id}" do %> 
    <% if  purchase_order.budget >= @po_budgeted %>
        <span class="p-2 text-secondary"><%= number_with_delimiter(purchase_order.budget -= @po_budgeted.round(0), delimiter:' ') %> </span>
    <% else %>
        <span class="p-2 red">0</span> 
    <% end %>
<% end %>