  <div class="d-flex justify-content-center  flex-row ">
    <% if  @nopo_invoices != [] && @nopo_invoices != nil%>
      <%= turbo_frame_tag "not_approved_invoices_list" do %>
        <% @nopo_invoices.each do |invoice| %>
              <%= render 'not_approved_invoice', invoice: invoice %>
        <% end %>
      <% end %>
    <% end %>
  </div>