
        <%= turbo_frame_tag "po_invoice_#{invoice.id}" do %>
            <div class="m-2 d-flex justify-content-between blue" >
                <div class="h6 d-flex justify-content-between  align-items-center container border rounded border-3 bg-light ">
                    <span class= "blue"><%= link_to invoice.name.upcase,invoice_path(invoice), class:" blue" %></span>
                    <span class= "p-2 green"><%= invoice.price.round(2) %></span>
                </div>
                <span class="p-2 "><%= button_to '✖️' , unlink_invoice_path(invoice), method: :patch,  class: " btn " %></span>
            </div> 
        <% end %>
