   
        
<%= turbo_frame_tag "po_services_list" do %>
  <div class="d-flex flex-column ">
      <% if services != [] %>
        <% services.each do |service| %>
          <%= render "purchase_orders/po_service", service: service %>
        <% end %>
      <% else %>
        <div class= " h6 text-center text-primary  ">NO SERVICES </div>
      <% end %>
  </div>
  <% end %>
