
        <%= turbo_frame_tag "po_service_#{service.id}" do %>
            <div class="  d-flex justify-content-between text-secondary" >
                <span class= "text-secondary p-1"><%= service.name.upcase %></span>
                <span class="p-1"><%= render "/purchase_orders/total_service", service: service %></span>
            </div>
        <% end %>
