<span class="d-flex justify-content-around p-3">
    <%= link_to purchase_order.name, purchase_order_path(purchase_order), class:"btn btn-outline-dark" %>
    <%= link_to purchase_order.description, purchase_order_path(purchase_order), class:"btn " %>
    <%= link_to "Edit",edit_purchase_order_path(purchase_order),class: "btn btn-outline-primary" %></div>           
    <%= button_to "Delete",purchase_order_path(purchase_order),method: :delete,class: "btn1" %>
</span>