
    <tr class="p-auto">
      <th scope="row " style="background-color:#5c0707; vertical-align: middle; !important">
        <%= link_to purchase_order.name, purchase_order_path(purchase_order), class:"white" %>
      </th>
      <td style="background-color:#5c0707;"class=><%= link_to purchase_order.description, purchase_order_path(purchase_order), class:"btn text-secondary m-auto " %></td>
      <td style="background-color:#5c0707;" class="text-center"><%= link_to "✏️",edit_purchase_order_path(purchase_order),class: "btn white m-auto" %></div></td>
      <td style="background-color:#5c0707;"><%= button_to "❌",purchase_order_path(purchase_order),method: :delete,class: "btn white m-auto" %></td>
    </tr>
