<main class="container white">
  <div class="header">
    <h1>PO
    <%= link_to "✚",new_purchase_order_path,class: "btn btn-lg btn-outline-primary" %> </h1>
  </div>
  
  <%= render @purchase_orders %>
  
</main>