

<div class=" blue p-3 ">
  <span class="p-auto fs-2  border-bottom border-4 border-success ">INVOICES
    <%= link_to "✚ New",new_invoice_path,class: "btn1 " %> 
    <%= link_to sanitize("▷ Excel"), store_invoices_path, class:"btn1" %>
  </span>
</div>

<table class="table table-success table-striped  table-hover">
  <tbody>
    <%= render @invoices %>
  </tbody>
</table>
