
<%= link_to sanitize("&larr; Back to Invoices"), invoices_path, class:"btn1" %>
    <div class = "container text-center blue">
        <h6>An email has been sent with data back up for :</h6>
        <h6>▻ <%= @count_invoices %> Invoices</h6>
    </div>

