
    <tr>
      <th scope="row"><%= link_to contract.name.upcase, contract_path(contract), class:"btn1 m-auto " %></th>
      <td class="text-center"><%= link_to "✏️ Edit",edit_contract_path(contract),class: "btn1 m-auto " %></td>
      <td><%= button_to "❌ Delete",contract_path(contract),method: :delete,class: "btn1 m-auto " %></td>
    </tr>
