
    <tr class ="p-auto">
      <th style="background-color:#0d2850; vertical-align: middle; !important"> <%= link_to contract.name.upcase, contract_path(contract), class:" text-secondary " %></th>
      <td style="background-color:#0d2850;",class="text-center"><%= link_to "✏️",edit_contract_path(contract),class: " btn white m-auto " %></td>
      <td style="background-color:#0d2850;"><%= button_to "❌",contract_path(contract),method: :delete,class: "btn white m-auto " %></td>
    </tr>
