<%= turbo_frame_tag "service_#{service.id}" , target: "_top" do %>
    <li class= '' data-controller="toggle-family"  ><%= link_to service.name, service_path(service), class:" fw-light blue", draggable:true , id:service.id%>   
        <span class=" " >
        <% if  service.calculate.is_a? Numeric %>
            <%= link_to "✔️", service_path(service), class:"green" %> 
        <% else %>
            ❌
        <% end %>
        </span> 

        <button class="btn" data-action="click->toggle-family#toggle">▽</button>

        <span data-toggle-family-target="family" class="">
            
            <%= render 'contracts/sub_menu_services', services: service.descendants.arrange %>
            
        </span>
    </li>
<% end %>