<%= turbo_frame_tag "service_#{service.id}" , target: "_top" do %>
    <li data-controller="toggle-family"  ><%= link_to service.name, service_path(service) , class:" fw-light grey", draggable:true , id:service.id%>   
        
        <% if  service.calculate.is_a? Numeric %>
            <%= link_to "✔", service_path(service), class:"green" %>
        <% else %>
            ❌
        <% end %>

       <span class= "red"> <button class="text-danger btn" data-action="click->toggle-family#toggle">▽</button></span>

        <span data-toggle-family-target="family" class="">
            
            <%= render 'contracts/sub_menu_services', services: service.descendants.arrange %>
            
        </span>
    </li>
<% end %>