<ul>
<% services.each do |service, children| %>
    <li id=<%=service.id %> draggable="true" class="">
      <%= link_to_unless_current (service.ancestry.to_s + " #" + service.name ), service_path(service),
        class: "  #{ 'blue fw-light' if service.ancestry != nil }", id: service.id       %>
      <% if service.calculate.is_a? Numeric %>
        <span class="green fw-lighter fs-6 " > ✔︎  </span>
      <% else %>
        <span class="text-danger fw-lighter fs-6 " > 𝘅  </span>
      <% end %>
    </li>
    <%= render 'sub_menu_services', services: children if children.present? %>
<% end %>
</ul>
