
<div class=" blue p-3 ">
  <span class="p-auto fs-2  border-bottom border-4 border-primary ">CONTRACTS
  <%= link_to "✚",new_contract_path,class: "btn1 " %> 
  </span>
</div>
<table class="table table-primary table-striped table-bordered table-hover">

  <tbody>
    <% if @contracts != nil %>
      <%= render @contracts %>
    <% else %>
      NO CONTRACT HAS BEEN CREATED YET 
    <% end %>
  </tbody>
</table>





