<main class="container white">
  <div class="header">
    <h1>CONTRACTS
    <%= link_to "✚",new_contract_path,class: "btn btn-lg btn-outline-primary" %> </h1>
  </div>
  
  <%= render @contracts %>
  
</main>



