
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item underlignedgreen m-2">
          <%= link_to 'CONTRACTS', contracts_path, class:"nav-link green-vernova" %>
        </li>
        
        <li class="nav-item underlignedblue m-2">
          <%= link_to 'PO', purchase_orders_path, class:"nav-link green-vernova" %>
        </li>
        <%# <li class="nav-item underlignedorange m-2">
          <%= link_to 'ORDERS', contracts_path, class:"nav-link green-vernova " 
        </li>  %>
          <li class="nav-item underlignedpurple m-2">
              <%= link_to 'INVOICES', invoices_path , class:"nav-link green-vernova" %>
          </li>
      </ul>
    <span class= " m-0 text-sm" id= "banner-typed-text" style=" width:350px;"> </span>
    </div>

  </div>
</nav>
