<ul>
  <% services.each do |service, children| %>
      <li class= text-start" >
        <%= radio_button_tag 'order[service_id]', service.id, false %>
        <%= service.name%>
      </li>
      <%= render 'children_list', services: children if children.present? %>
  <% end %>
</ul>
