<ul>
   <% orders.each do |order, children| %>

      <li>
        <%= link_to_unless_current order.name, order_path(order),
       class: "  #{ 'white' if order.ancestry != nil } " %>
      </li>
        <%= render 'sub_menu_orders', orders: children if children.present? %>
  <% end %>
</ul>