              <%= turbo_frame_tag "order_#{order.id}_tax#{tax.id}" do %>
                <% if tax.orders.include?(order)%>
                <div class ="d-flex justify-content-center">
                  <span class="d-flex  align-items-center"><%= (order.calculate * tax.percentage * 0.01).round(2) %></span>
                  <span class="text-warning "><%= button_to "ð˜…" , order_unlink_tax_path(order, tax), method: :post , class: "btn btn-sm"%></span>
                </div>
                <% else %>
                  <%= button_to "ï¹¢" , order_link_tax_path(order, tax), method: :post , class: "rounded-circle  m-auto"%>
                <% end %>
              <% end %>