<div class="container rounded-4 border border-5  bg-light"> 
  <%= simple_form_for [@invoice, @order] do |f|%>
      <div class="d-flex container justify-content-center text-light p-3 ">
        <div class="d-flex container p-3 text-center blue">
          <%= f.association :service, collection: @services, label: 'Service from Contract' , value_method: :id, include_blank: false,input_html: { autofocus: true ,class:" form1"} %>
          <%= f.button :submit %>
        </div>
      </div>
  <% end %>
</div>



