
<%= simple_form_for [@service, formula], html: { class: "" } do |f| %>
  <% if formula.errors.any? %>
    <div class="error-message">
      <%= formula.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true ,class:"form1"} %>
  <%= f.submit class: "btn1" %>
<% end %>