<%= turbo_frame_tag @payment do %>
  <div class="container mt-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5>New Payment</h5>
      </div>
          <%= render "form", payment: @payment %>
    </div>
  </div>
<% end %>
