.remove-ingredient-btn {
    height: 0px;
    position: relative;
    left: 69%;
    top: -7%;
    // padding: 4px !important;
    span{
          padding: 3px 0;
    }
}
.edit-ingredient-btn{
  height: 0px;
  position: relative;
  left: -23%;
  top: -5%;
  span{
    padding: 4px;
  }
  a{
    border: none !important;
    background-color: inherit !important;
    color: inherit !important;
  };

}
