/*
 *= require_tree 
 *= require_self
 */
 /* require general
 require contract */


 /* Graphical variables */
@import "config/fonts";
@import "config/global";
@import "config/colors";
@import "config/bootstrap_variables";

 /* External libraries */
@import "bootstrap";
@import "font-awesome";
@import "@fortawesome/fontawesome-free/css/all"

/* Your CSS partials */
@import "components/index";
@import "pages/index";


/* global config */
button{
  border: none !important;
  background-color: inherit !important;
  color: inherit !important;
};