body {
    padding: 2em;
    background-color: #09507A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.white {
    color:aliceblue;
    text-decoration: none;
}
.red {
    color: chocolate;
    text-decoration: none;
}
.blue{
    color:#09507A
}

.formula{
    background-color: #222222;
    color:aquamarine;
    border-radius: 8px;
    padding: 4px 7px;
    text-decoration: none;
}

.large{
width: 100%;
}

.big {
  font-size: 26px;
}

.btn1 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #09507A;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 8px 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.btn1:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.btn1:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.btn1:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex> div {
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

.form1 {
    margin: 20px;
    border:5px solid aquamarine;
    font-size: 30px;
    border-radius: 20px;
    background-color:#eafafb;
    color: #09507A;
}

.form2 {
  margin: 20px;
  border:5px solid aquamarine;
  font-size: 30px;
  border-radius: 20px;
  background-color:#eafafb;
  color: #09507A;
  width: 100%;
}