body {
  padding: 2em;
  background-color: #09507a;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.white {
  color: aliceblue;
  text-decoration: none;
}
.red {
  color: chocolate;
  text-decoration: none;
}

.light-green {
  color: aquamarine;
  text-decoration: none;
}

.orange{
  color: #ff7f50;
  text-decoration: none;
}
.blue {
  color: #09507a;
  text-decoration: none;
}
.green {
  color: #069f5a;
  text-decoration: none;
}

.bleu {
  color: #517392 ;
  text-decoration: none;
}

.lightblue {
  color: #397cd9;
  text-decoration: none;
}

.grey {
  color: #5a6c84;
  text-decoration: none;
}

.formula {
  background-color: #222222;
  color: aquamarine;
  border-radius: 8px;
  padding: 4px 7px;
  text-decoration: none;
}

.legend {
  font-size: 12px;
  color: #09507a;
}
.large {
  width: 100%;
}

.bg-blue {
  background-color: #0d2850;
}
.bg-green {
  background-color: #124020;
}

.big {
  font-size: 26px;
}

.btn1 {
  background-color: #ffffff;
  border: 1px solid #09507a;
  border-radius: 8px;
  box-sizing: border-box;
  color: #09507a;
  cursor: pointer;
  display: inline-block;
  font-family: "Russo One", "Nunito", "Helvetica", "sans-serif";
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 8px 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition:
    box-shadow 0.2s,
    -ms-transform 0.1s,
    -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.btn1:focus-visible {
  box-shadow:
    #222222 0 0 0 2px,
    rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.btn1:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.btn1:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

.btn2 {
  background-color: #ffffff;
  border: 1px solid #09507a;
  border-radius: 8px;
  box-sizing: border-box;
  color: #09507a;
  cursor: pointer;
  display: inline-block;
  font-family:
    Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 10px;
  margin: 0;
  outline: none;
  padding: 3px 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition:
    box-shadow 0.2s,
    -ms-transform 0.1s,
    -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.btn3 {
  background-color: rgb(209, 166, 149);
  border: 1px solid white;
  border-radius: 8px;
  box-sizing: border-box;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family:
    Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 10px;
  margin: auto;
  outline: none;
  padding: 10px 10px;
  // position: relative;
  text-align: center;
  align-items: center;
  text-decoration: none;
  touch-action: manipulation;
  transition:
    box-shadow 0.2s,
    -ms-transform 0.1s,
    -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.flex > div {
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.form1 {
  margin: 20px;
  border: 5px solid aquamarine;
  font-size: 30px;
  border-radius: 20px;
  background-color: #eafafb;
  color: #09507a;
}

.form2 {
  margin: 20px;
  border: 5px solid aquamarine;
  font-size: 30px;
  border-radius: 20px;
  background-color: #eafafb;
  color: #09507a;
  width: 100%;
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.notice {
  position: absolute;
  top: 5px;
  left: 20px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  // hide the notice after 5 seconds
  animation: hide 3s forwards;
}

.titles {
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.custom-label {
  font-weight: bold;
  color:#09507a;
  font-size: 0.7em;
  margin-bottom: 0.5em;
  display: block;
}

.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.45rem;
  line-height: 1;
  border-radius: 0.2rem;
}

.btn-discreet {
  background-color: transparent;
  border: none;
  color: #6c757d; /* subtle gray */
  font-size: 0.875rem;
  padding: 0.25rem;
}
.btn-discreet:hover {
  color: #495057;
  text-decoration: underline;
}


.span50 {
  display: inline-block;
  width: 50px; /* Définissez la largeur souhaitée */
  overflow: hidden; /* Pour gérer le dépassement de texte */
  text-overflow: ellipsis; /* Pour ajouter des points de suspension si le texte dépasse */
  white-space: nowrap; /* Pour empêcher le texte de se décomposer en plusieurs lignes */
}
.span100 {
  display: inline-block;
  width: 100px; /* Définissez la largeur souhaitée */
  overflow: hidden; /* Pour gérer le dépassement de texte */
  text-overflow: ellipsis; /* Pour ajouter des points de suspension si le texte dépasse */
  white-space: nowrap; /* Pour empêcher le texte de se décomposer en plusieurs lignes */
}
.span150 {
  display: inline-block;
  width: 150px; /* Définissez la largeur souhaitée */
  overflow: hidden; /* Pour gérer le dépassement de texte */
  text-overflow: ellipsis; /* Pour ajouter des points de suspension si le texte dépasse */
  white-space: nowrap; /* Pour empêcher le texte de se décomposer en plusieurs lignes */
}
.span200 {
  display: inline-block;
  width: 200px; /* Définissez la largeur souhaitée */
  overflow: hidden; /* Pour gérer le dépassement de texte */
  text-overflow: ellipsis; /* Pour ajouter des points de suspension si le texte dépasse */
  white-space: nowrap; /* Pour empêcher le texte de se décomposer en plusieurs lignes */
}
.span250 {
  display: inline-block;
  width: 250px; /* Définissez la largeur souhaitée */
  overflow: hidden; /* Pour gérer le dépassement de texte */
  text-overflow: ellipsis; /* Pour ajouter des points de suspension si le texte dépasse */
  white-space: nowrap; /* Pour empêcher le texte de se décomposer en plusieurs lignes */
}